.menu{
    padding :0;
    margin:0;
    list-style: none;
    display: flex;
}

.menuItem{
    text-decoration: none;
    color: black;
}

.iconHome{
    margin-left: 15px;
}

.iconPlus{
    margin-left: 11px;
}

.iconChart{
    margin-left: 14px;
}

.iconSettings{
    margin-left: 20px;
}

.iconSignout{
    margin-left: 20px;
}

.menuText{
    padding:0 0.5rem;
    font-size: 13px;
}
